// Externals

// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';

// Basics
@import 'basics/typography';
@import 'basics/base';
@import 'basics/helpers';
@import 'basics/layout';
@import 'basics/modals';
@import 'basics/animations';

// Views
@import 'views/about';
@import 'views/robot-details';
@import 'views/robot-edit';

// Components
@import 'cmps/robot-list';
@import 'cmps/robot-preview';
@import 'cmps/robot-filter';
@import 'cmps/app-header';
@import 'cmps/nice-button';

.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
        width: 100%;
    }

    > footer {
        background-color: #111;
        color: white;
    }
}

.dark {
    background-color: #333;
    color: white;
}
